<template>
 <form action="{{route ('send-mail')}}" method="POST" enctype="multipart/form-data">
        <label for="">Mail</label>
        <input type="email" name="adress" required class="form-control" >
        <label for="">Subject</label>
        <input type="text" name="subject" required class="form-control">
        <label for="">message</label>
        <textarea name="msg"  rows="3" class="form-control"></textarea>
        <label for="">attached</label><br>
        <input type="file" name="attached" class="custom-file-input"><br><br>
        <button type="submit" class="btn btn-primary" >send mail</button>
    </form>
</template>

